page-infraestrutura {
    .ion-ios-bulb {
        padding-left: 6px
    }
    .ion-md-pint {
        padding-left: 2px
    }
    .ion-md-car {
        padding-left: 2px
    }
    ion-thumbnail {
        height: 80px;
        width: 80px
    }
    .icone {
        font-size: 3em!important;
    }
    .thumb {
        margin: 0!important;
        padding-left: 10px;
        padding-top: 15px;
    }
    .item-lista {
        height: 23vh;
    }
    .margin-zero {
        margin: 0;
    }
    .item-lista>div.item-inner {
        border: 0!important;
        background: transparentize(#494747, .1);
    }
    #fundo1 {
        background-image: url("../assets/images/fundo2.jpg");
        color: white;
    }
    #fundo2 {
        background-image: url("../assets/images/fundo3.jpg");
        color: white;
    }
    #fundo3 {
        background-image: url("../assets/images/fundo4.jpg");
        color: white;
    }
    #fundo4 {
        background-image: url("../assets/images/fundo5.jpg");
        color: white;
    }
    .titulo {
        margin-left: 10%;
    }
}