page-alimentacao {
    .item-inner {
        padding-right: 0px!important;
        border: 0!important;
    }
    .thumbnail {
        width: 120px !important;
    }
    img {
        width: 100%!important;
    }
    ion-thumbnail {
        margin: 0 !important;
        height: 100%!important;
    }
    ion-img {
        height: 100%!important;
    }
    ion-item {
        padding-left: 0px !important;
    }
    h2 {
        padding-left: 16px;
    }
    .input-wrapper {
        border-bottom: 1px solid #dedede;
    }

    .searchbar-md {
      background: #2cb893;
    }
    .searchbar-md .searchbar-input{
        box-shadow: none;
    }

}