.page-sevicos{

}
.icone{
  font-size: 3em!important;
}
.thumb{
  margin:0!important;
  padding-left: 20px;
  padding-top: 15px;
}
.item-lista{
  height: 22vh;
}
.item-lista > div.item-inner{
  border: 0!important;
}
#cor1{
  background: linear-gradient(180deg , #325865 35%, #367380 100%);
  color: white;
}
#cor2{
  background:linear-gradient(180deg , #B2805A 35%, #D9A07A 100%);
  color: white;
}
#cor3{
  background:linear-gradient(180deg , #46A576 35%, #4CC691 100%);
  color: white;
}
#cor4{
  background-color: #8B4645;
  background:linear-gradient(180deg , #8B4645 35%, rgba(139, 70, 69, 0.84) 100%);
  color: white;
}


