page-sevicos{

}
ion-icon{
  font-size: 3em!important;
}
.thumb{
  margin:0!important;
  padding-left: 20px;
  padding-top: 15px;
}
.item-lista{
  height: 22vh;
}
.item-lista > div.item-inner{
  border: 0!important;
}
#cor1{
  background-color: red;
  color: white;
}
