page-outro {
    .scroll-content {
        padding: 0 !important;
    }
    .item-inner {
        padding-right: 0px!important;
        height: 20px;
    }
    ion-list {
        padding: 5px 16px;
        margin: 0!important;
    }
    ion-item {
        padding-left: 0px !important;
    }
    h2 {
        padding-left: 5px;
        margin: 0!important;
    }
    ion-label {
        margin: auto 0!important;
    }
}