<ion-header>
  <ion-navbar color="minerva">
    <ion-title>
      Outros
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para recarregar"
      refreshingSpinner="ios"
      refreshingText="Recarregando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="viewItem(item)">

      <h2>{{item[0].nome}} - {{item[0].localizacao[0].centro}}</h2>
      <div *ngIf="!item[0].nome">
        <h2>Sem resultados até o momento.</h2>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
