page-categorias {

  .img-responsive{
    // width:auto;
    // height: 33%;
    width: 110%;
    margin-bottom: -4px;
  }
  ion-item{
    height: 33vh;
  }

  .ocupatudo{
    margin-bottom: 0px;
  }

  .scroll-content{
    overflow: hidden;
  }
}
