page-categorias {
    .img-responsive {
        width: 110%;
        margin-bottom: -4px;
        height: 28vh;
    }
    .ocupatudo {
        margin-bottom: -5px;
    }
    .texto {
        position: absolute;
        margin-top: -50px;
        margin-left: 30px;
        z-index: 1;
        color: white;
        font-size: 20px;
    }
    .scroll-content {
        padding-top: 1px;
        margin-bottom: -1px;
    }
    ion-img.img-loaded img {
        height: 100%!important;
    }
    ion-img {
        height: 31vh!important;
    }
}