<ion-header no-border >
  
    <ion-navbar color="transparente">
    </ion-navbar>
  
  </ion-header>
  

<ion-content>
  <div class="sombra">
    <img alt="image" class="imagem-item" src="{{item.imagem}}">
  </div>
  <h1 class="titulo">{{item.linha}}</h1>
  <ion-list no-padding>

    <ion-item *ngFor="let d of detalhes; let i=index" class="titulo-item" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      {{d.titulo}}
      <ion-note item-right *ngIf="!isGroupShown(i)">
        {{d.detalhe}}
      </ion-note>
      <div class="descricao-item" *ngIf="isGroupShown(i)">{{d.detalhe}}</div>
    </ion-item>

    <ion-item>
      Pontos
      <ion-grid>
        <ion-row>
          <ion-col>
            <agm-map [latitude]="toNumber(item.pontosQuePassa[0].latitude)" [longitude]="toNumber(item.pontosQuePassa[0].longitude)"
              [zoom]="14" 
              [panControl]=false 
              [scaleControl]=false 
              [mapTypeControl]=true 
              [scrollwheel]=false 
              [streetViewControl]=false 
              [zoomControl]=false
              >
              <div *ngFor="let ponto of item.pontosQuePassa">
                <agm-marker [latitude]="toNumber(ponto.latitude)" [longitude]="toNumber(ponto.longitude)" 
                [title]="ponto.nome" 
                iconUrl="https://i.imgur.com/mitG9GF.png"
                >
                  <agm-info-window>
                    <strong>{{ponto.nome}}</strong>
                  </agm-info-window>
                </agm-marker>
              </div>
            </agm-map>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>
