.item-inner{
  padding-right: 0px!important;
}

.thumbnail{
  width: 120px !important;
}

.item-img{
  margin: 0 !important;
}

ion-label{
  margin: 13px 0!important;
}
ion-item{
  padding-left: 0px!important;
}

h1{
  padding-left: 16px;
}
