page-sobre {
    .logo-minerva {
        min-width: 100px;
        min-height: 100px;
    }
    .logo-minerva img {
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 0 auto;
    }
    .topo-sobre {
        text-align: center;
        color: grey;
        background-color: #eeeeee;
        padding-top: 4%;
        padding-bottom: 4%;
        width: 100%;
    }
    .conteudo-sobre {
        margin: 1% 5%;
        background: white;
    }
    .titulo {
        color: #2CB893;
        padding: 0;
    }
    .descricao {
        color: #7F8081;
        text-align: justify;
    }
    h4{
        color: #808080;
    }
    .equipe ion-icon {
        color: #2CB893;
        font-size: 24px;
    }
    .equipe span {
        color: #7F8081;
        margin-bottom: 5px;
        margin-left: 3px;
    }
    .equipe p{
        margin-left: 5%;
        margin-top: 2%;
        display: none;
    }
    .equipe ion-item:focus p{
        display:block;
    }
}